.nunito{
    font-family: 'Comfortaa', cursive;
    font-family: 'Nunito', sans-serif;
}

.roboto{
    font-family: 'Comfortaa', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
}