.grid{
    display: grid;
}

.grid-gap5{
    display:grid;
    grid-gap: 5px;
}

.grid-gap10{
    display:grid;
    grid-gap: 10px;
}
.col-grid1{
    grid-template-columns: auto;
}
/*leaving 300px for sidebar and the rest of the space for main content*/
.col-grid-sidebar-auto{
    grid-template-columns:300px auto;
}

.col-grid-sidebar-auto-reverse{
    grid-template-columns:auto 300px;
}

.col-grid2{
    grid-template-columns: auto auto;
}

.col-grid3{
    grid-template-columns:auto auto auto;
}

.col-grid4{
    grid-template-columns:auto auto auto auto;
}

