<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/flexbox.css">
    <link rel="stylesheet" href="../assets/css/shapes.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/grid.css">
    <link rel="stylesheet" href="../assets/css/positions.css">
    <link rel="stylesheet" href="../assets/css/fonts.css">
    <link rel="stylesheet" href="../assets/css/scroll.css">
    <link rel="stylesheet" href="../assets/css/card.css">
    <!--FONTS-->
    <!--nunito-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Nunito:ital,wght@1,500&display=swap" rel="stylesheet">
    <!--roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Nunito:ital,wght@1,500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    
    <!---->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .wireframe{
            color:gray;
            border:1px solid;
        }

        .purple{
            background-color: rgb(111, 9, 228);
        }
        .btn-purple {
            background-color: rgb(111, 9, 228);
            color: white;
        }
        .btn-orange {
            background-color: rgb(249, 102, 11);
            color: white;
        }
        .btn-cyan {
            background-color: rgb(11, 205, 249);
            color: white;
        }
        .btn-purple:hover{
            background-color: lightgray;
        }
        .btn-orange:hover{
            background-color: lightgray;
        }
        .btn-cyan:hover{
            background-color: lightgray;
        }
        .min-height-100{
            min-height:100%
        }
        

        .tag{
            padding:5px;
            cursor: pointer;
        }

        body{
            padding: 70px 0px 0px;
            min-height: 100vh;
        }
        
    </style>
</head>
<body>
    
    <header class="header fixed-top d-flex align-items-center wireframe" style="height: 70px;">
        <h1>NAVBAR</h1>
    </header>
    <center class="occupy-space">
        <section class="min-height-100 width-90 wireframe">
            <div class="vertical-around">
                <div class="horizontal-start width-90" style="gap: 5px;padding: 5px;">
                    <img src="../assets/svg/share-outline.svg" alt="" width=20>
                    <h5>Trending Today</h5>
                </div>
                <div class="vertical-around responsive width-90">
                    <div class="vertical-around custom-card">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        
                        <br>
                    </div>
                    <div class="vertical-around custom-card">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        
                        <br>
                    </div>
                    <div class="vertical-around custom-card">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        
                        <br>
                    </div>
                </div>
                <br>
                <div class="vertical-between responsive width-90 custom-card-shadow" style="padding: 5px;">
                    <div class="vertical-around responsive width-50">
                        <div class="btn-cyan tag rounded horizontal-around" style="gap: 2px;">
                            <img src="../assets/svg/star-outline.svg" alt="" width=20 style="filter: invert();">
                            Most popular
                            <img src="../assets/svg/chevron-down-outline.svg" alt="" width=20 style="filter: invert();">
                        </div>
                        <div class="btn-purple tag rounded horizontal-around" style="gap: 2px;">
                            <img src="../assets/svg/rocket-outline.svg" alt="" width=20 style="filter: invert();">
                            highest votes
                            <img src="../assets/svg/chevron-down-outline.svg" alt="" width=20 style="filter: invert();">
                        </div>
                        <div class="btn-orange tag rounded horizontal-around" style="gap: 2px;">
                            <img src="../assets/svg/calendar-clear-outline.svg" alt="" width=20 style="filter: invert();">
                            latest thread
                            <img src="../assets/svg/chevron-down-outline.svg" alt="" width=20 style="filter: invert();">
                        </div>
                    </div>
                    <button class="btn btn-purple">
                        <img src="../assets/svg/share-outline.svg" alt="" width=20 style="filter: invert();">
                        write new thread
                    </button>
                </div>
                <div class="horizontal-start width-90" style="gap: 5px;padding: 5px;">
                    <img src="../assets/svg/share-outline.svg" alt="" width=20>
                    <h5>Threads and discussions</h5>
                </div>
                <div class="vertical-between responsive">
                    <div class="vertical-start">

                        <div class="horizontal-start">
                            <div class="vertical-start">
                                <!-- margin -->
                            </div>
                            <div class="vertical-start">
                                <!-- details -->
                                <!-- horizontal underline after thread -->
                                <!-- replies/comments -->
                            </div>
                        </div>
                    </div>
                    <div class="vertical-start">
                        <!-- top trnding topic -->
                    </div>
                </div>
            </div>
        </section>
    </center>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    <script>
        let triggerTooltips=()=>{
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        }

        triggerTooltips()
    </script>

    <script src="../assets/js/grid-events.js"></script>
    <script src="../assets/js/window-events.js"></script>
</body>
</html>