<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/flexbox.css">
    <link rel="stylesheet" href="../assets/css/shapes.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/grid.css">
</head>
<body class="grid responsive-grid col-grid1" data-gridclassname="col-grid1" data-gridchangeto="col-grid-sidebar-auto" data-responsivemode='mobile'>
    <div style="background-color: red;height: 500px;"></div>
    <div style="background-color: blue;height: 500px;"></div>
    <script src="../assets/js/grid-events.js"></script>
    <script src="../assets/js/window-events.js"></script>
</body>
</html>